/*Estlio da página */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Lato:ital,wght@1,100&family=Montserrat:wght@100;200&family=Tajawal:wght@300&display=swap');


body {
    margin: 0;
    padding: 0;
    background: #d4f3ed;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.links {
    display: flex;
    padding: 1rem;
    font-size: 20px;
    text-decoration: none;
    color: #000000;
}

.links:hover {
    color:cadetblue;
}

.center {
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-family: Lato;
}

.container { 
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.txt1 {
    padding: 50px;
    font-size: 18px;
}

.img {
    padding: 30px;
    width: 380px;
}

.pg2 {
    background: #ffffff;
}

.video { 
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 40px;
}

.icon { 
    width: 22px;
}
    

.copy {
    display: flex;
    justify-content: center;
    font-size: 15px;

}


/* Estlio página contato */


form {
    display: flex;
    flex-direction: column;
    width: 50vw;

}

.campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 0 0 1rem 0;
    width: 60%;
}

.campo label {
    font-size: 18px;
    font-family: Lato;
    margin-bottom: 7px;
}

.campo input, .campo textarea {
    padding: 0.5rem ;
    font-size: 1rem;
    border-radius: 0.5rem;
    border-bottom: 1px solid #000000;
}

.letra { 
    font-family: Lato;
}

button {
    margin-top: 1rem;
    width:  15%;
    padding: .5rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: 2px solid #d4f3ed;
    background: cadetblue;
    transition: 0.3s;
}

button:hover {
    background: #d4f3ed;
}
